{% extends 'layout.html' %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <label for="sell"></label>
            <select class="form-control" name="symbol">
                <option  disabled="true" selected>Symbol</option>
                {% for row in rows %}
                    <option value="{{ row['symbol'] }}">{{ row['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Shares" type="number" name="shares">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}